<html>
<head>
    <title>Customer Subscription Activity Logs</title>
</head>
<body>
    <h1>Customer Subscription Activity Logs</h1>
    <form action="{{url_for('customer_subscriptions')}}" method="GET">
        <p><input type="submit" value="Back to Subscriptions" style="width:400px" /></p>
    </form>
    <form action="{{url_for('grantAccess', subscription_id=subscription_id)}}" method="GET">
        <p><input type="submit" value="Grant Access to Partner" style="width:400px" /></p>
    </form>
    <br />
    <h3>Activity Log</h3>
    <ul>
        {% for operation_id in activity_log_grouped %}
        <li>
            Operation Id: {{operation_id}}
            <ul>
                {% for log in activity_log_grouped[operation_id] %}
                <li>{{log.event_name.localized_value}} : {{log.event_id}} - {{log.status.localized_value}} [{{log.event_timestamp}}]</li>
                {% endfor %}
            </ul>
            <br />
        </li>
        {% endfor %}
    </ul>
</body>
</html>