<html>
<head>
    <title>Customer Subscriptions</title>
</head>
<body>
    <h1>Customer Subscriptions</h1>
    <br />
    <form action="{{url_for('customer')}}" method="GET">
        <p><input type="submit" value="Home" style="width:400px" /></p>
    </form>
    <br />
    <h3>Pick a Subscription to View Health Service Logs</h3>
    
    {% for subscription in subscriptions %}
    <p>{{subscription.display_name}} : <a href="{{url_for('customer_healthLog', subscription_id=subscription.subscription_id)}}">{{subscription.subscription_id}}</a></p>
    {% endfor %}
        
</body>
</html>